@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap');

.font-manrope{
 font-family: "Manrope", sans-serif;
}
.font-montagu{
 font-family: "Montagu Slab", serif;
}
.paragraph-color{
 color: #797C86;
}